@import url('https://fonts.googleapis.com/css?family=Lato|Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


.only-mobile{
	display: none;
}
.only-desktop{
	display: block;
}
.container{
	padding-left: 5%; 
	padding-right: 5%;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Open Sans', sans-serif;;
	color: #414042;
	font-weight: 900;
}

p, span, {
	font-family: Roboto;
	color: #414042;
	font-weight: 400;

}

section{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #fff;
	border-left: 20px solid #FF2C79;

}
body{
	overflow-x: hidden;
}
.container{
	padding-left: 10%;
	padding-right: 10%;
}

#header{
	.slider{
		padding-top: 20px;
		img{
			width: 100%;
		}
	}

	.titulo{
			padding-left: 0;

		h1{
			font-size: 48px;
			margin-top: 40px;
			padding-left: 73px;
			span{
				color: #FF2C79;
				font-size: 300%;
				font-family: 'Open Sans', sans-serif;;
				font-weight: 900;
				position: absolute;
				bottom: 17px;
				left: -10px;
			}		
		}
	}
	.texto{
	padding-left: 0;
		margin-bottom: 40px;
		h2{
			margin-bottom: 20px;
		}
		p{
			margin-top: 20px;

			font-family: Roboto;
			font-size: 18px;
			margin: 0;
		}
	}
}
#agenda{

	background-image: url('../img/agenda-bg.png');
	background-size: cover;
   	.titulo{
		margin-top: 40px;
		background-image: url('../img/stroke-bg.png');
		background-repeat: no-repeat;
   		background-size: contain;
   		margin-bottom: 20px;
   		    background-position-x: 70px;

		h1{
		    color: #fff;
		    font-size: 40px;
		    margin: 25px 0px;
	        padding-left: 160px;

		}
	}
	.agenda-dia{
		margin-bottom: 2%;de
		.subtitulo{
			h2{
				font-size: 24px;
				text-transform: uppercase;
			}
		}
		.hora{
			text-align: right;
			font-size: 18px;
			margin-bottom: 0;
		}
		.desc{
			text-align: left;
			font-size: 18px;
			margin-bottom: 0;
		}
	}

}

#infos{
	.titulo{

		h1{
		    font-size: 48px;
		    
		    margin-top: -40px;
		    margin-bottom: 20px;
		    padding-left: 15px;
			span{
				color: #FF2C79;
				font-size: 300%;
				font-family: 'Open Sans', sans-serif;;
				font-weight: 900;
				position: relative;
				bottom: 20px;
				left: -24px;

			}		
		}
	}
	.bag{
		margin-bottom: 20px;
		img{
    		padding-top: 23px;
    		margin-left: -10px;
    		}
		h2{
			font-family: Roboto;
			text-transform: uppercase;
			font-size: 20px;
		}
		p{
			font-family: Roboto;
			font-size: 18px;
			bold{
				font-weight: 900;
			}
		}
	}
	.passagem{
		margin-bottom: 20px;
		.br{
			margin-bottom: 10px;
		}
		.visita{
			padding-top: 12px;
		}
		img{
			margin-left: -10px;
			padding-top: 0;
		}
		h1{

		    font-weight: 500;
		    padding: 0;
		    margin: 0;
		    font-family: Roboto;
		    text-transform: uppercase;
		    font-size: 20px;
			span {
				font-weight: 900;
				font-size: 24px;
			}
		}
		h2{
   		    font-weight: 500;
		    padding: 0;
		    margin: 0;
		    font-family: Roboto;
		    text-transform: uppercase;
		    font-size: 16px;

			span {
				font-weight: 900;
				font-size: 16px;
			}
		}
		p{
			font-family: Roboto;
			font-size: 18px;
			bold{
				font-weight: 900;
			}
		}
	}
	.voo{
		margin-bottom: 20px;
		img{
			margin-left: -10px;
			padding-top: 30px;
			margin-bottom: 10px;
		}
		h2{
			font-family: Roboto;
			text-transform: uppercase;
			font-size: 20px;
		}
		p{
			font-family: Roboto;
			font-size: 18px;
			bold{
				font-weight: 900;
			}
		}
	}
	.hotel{
		margin-bottom: 40px;
		img{
			margin-left: -10px;
			padding-top: 9px;
		}
		.hilton{
			position: relative;
			width: 35%;
			bottom: 60px;
		}
		img{

		}
		h2{
			font-family: Roboto;
			text-transform: uppercase;
			font-size: 20px;
			padding-left: 0;
			margin-left: 0;
		}
		p{
			font-family: Roboto;
			font-size: 18px;
			bold{
				font-weight: 900;
			}
		}
	}

}

#video{
	background-image: url('../img/video-bg.png');
	.titulo{
		margin-top: 30px;
		background-repeat: no-repeat;
		background-size: 494px;
		margin-bottom: 20px;
		background-position-x: 174px;
		background-position-y: 4px;
		img{
			width: 80%;
		}
		h1{
		    color: #fff;
		    font-size: 32px;
		    margin: 20px 0px;
			text-align: center;

		}
	}
	.player{
		margin-top: 30px;
		margin-bottom: 5%;
	    width: 45%;
	    position: relative;
	    left: 50%;
	    transform: translateX(-50%);
		video{
			-webkit-box-shadow:inset 0px 0px 0px 4px #414042;
			-moz-box-shadow:inset 0px 0px 0px 4px #414042;
			box-shadow:inset 0px 0px 0px 4px #414042;
		    border-radius: 5px; 	
			
		}
	}
}
.footer{
	border-left: none;
	background-image: url('../img/bg-footer.png');
	padding-top: 2%;
	.content-footer{
		padding-top: 20px;
		margin-bottom: 1%;
		h2{
			font-family: Roboto;
			font-weight: 900;
			margin-top: 0px;
			font-size: 20px;
			text-transform:uppercase;
			color:#fff;
		}
		p{

			font-family: Roboto;
			font-weight: 500;
			margin: 0;
			font-size: 18px;
			color:#fff;
		}
		
	}
	.copyright{
		p{
			margin-top: 20px;
			font-family: Roboto;
			font-weight: 500;
			color: #fff;
			font-size: 12px;
			vertical-align: bottom;
			margin-bottom: 2px;
		}
		
	}
}



@media only screen and (max-width: 1024px) {
.only-mobile{
	display: block;
}
.only-desktop{
	display: none;
}
.container{
	padding-left: 0%; 
	padding-right: 0%;
}
	.padding-moobile{
		padding-left: 0;
	}
	#header{
	.slider{
		padding-top: 20px;
		img{
			width: 100%;
		}
	}


	.titulo{
		h1{
		    font-size: 70px;
		    margin-top: 40px;
		    margin-left: -4px;
		    margin-bottom: 16px;
		    padding-left: 0;

			span{
				color: #FF2C79;
				font-size: 200%;
				font-family: 'Open Sans', sans-serif;;
				font-weight: 900;
				position: absolute;
				bottom: 22px;
				left: -75px;
			}		
		}

	}
	.texto{
		margin-bottom: 40px;
		h2{
			font-size: 55px;
		}
		p{
			font-family: Roboto;
			font-size: 55px;
		}
	}
}
#agenda{
	background-image: none;
	padding-bottom: 0;
	padding-top: 0;

	.titulo{
		background-image: url("../img/stroke-bg.png");
		background-repeat: no-repeat;
		background-size: contain;
		margin-bottom: 20px;
		margin-top: 20px;
		background-position-x: 0px;
		h1{
		    color: #fff;
		    font-size: 80px;
    		margin: 30px 0px;
	        padding-left: 176px;

		}
	}
.agenda-dia{
		margin-bottom: 20px;
		.subtitulo{
			h2{
				font-size: 55px;
				text-transform: uppercase;
				margin-bottom: 15px;
    			padding-left: 46px;
   			}
		}
		.hora{
			text-align: right;
			font-size: 45px;
			margin-bottom: 10px;
		}
		.desc{
			font-size: 45px;
			margin-bottom: 5px;
		}
	}

}

#infos{
	.titulo{
		h1{
			text-align: left;
			font-family: 'Open Sans', sans-serif;;
			font-size: 50px;
			margin-top: 20px;
			padding-left: 0px;
			margin-left: -54px;
			margin-bottom: 20px;
			span{
				color: #FF2C79;
				font-size: 200%;
				font-family: 'Open Sans', sans-serif;
				font-weight: 900;
				position: relative;
				bottom: 16px;
				left: -16px;
			}		
		}
	}
	.bag{
		margin-bottom: 2%;
		img{
			width: 25%;
			margin: 30px;
					}
		h2{
			text-align: center;
			font-family: Roboto;
			text-transform: uppercase;
			font-size: 70px;
		}
		p{
			font-family: Roboto;
			font-size: 55px;
			bold{
				font-weight: 900;
			}
		}
	}
	.passagem{
		margin-top: -25px;
		margin-bottom: 0px;
		h1{
			text-align: center;
			font-weight: 500;
			padding-top: 10px;
			margin-bottom: 10px;
			font-family: Roboto;
			text-transform: uppercase;
			font-size: 55px;
			margin: 0;
			span {
			    margin-left: 15px;
				font-size: 55px;
			}
		}
		h2{
			text-align: center;
			font-weight: 900;
			padding-top: 10px;
			margin-bottom: 10px;
			font-family: Roboto;
			text-transform: uppercase;
			font-size: 55px;
			margin: 0;
			span {
			    margin-left: 15px;
				font-size: 55px;
			}
		}		
		p{
			font-family: Roboto;
			font-size: 55px;
			bold{
				font-weight: 900;
			}
		}
		img{
    width: 25%;
    margin: 30px;
		}
	}
	.voo{
		margin-bottom: 20px;
		img{
    width: 25%;
    margin: 30px;
		}
		h1{
			text-align: left;
			font-family: Roboto;
			text-transform: uppercase;
			font-size: 70px;
		}
		h2{
			text-align: left;
			font-family: Roboto;
			text-transform: uppercase;
			font-size: 70px;
		}
		p{
			font-family: Roboto;
			font-size: 55px;
			bold{
				font-weight: 900;
			}
		}
	}
	.hotel{
		margin-bottom: 20px;
		.hilton{
			position: relative;
			width: 50%;
			bottom: 60px;
		}
		img{
		    width: 25%;
		    margin: 30px;
		}
		h2{
			text-align: left;
			font-family: Roboto;
			text-transform: uppercase;
			font-size: 55px;
		}
		p{
			font-family: Roboto;
			font-size: 55px;
			bold{
				font-weight: 900;
			}
		}
	}

}

#video{
	background-image: url('../img/video-bg.png');
	.titulo{
		margin-top: 4%;
		background-repeat: no-repeat;
   		background-size: contain;
   		margin-bottom: 20px;
		h1{
		    color: #fff;
		    font-size: 70px;
		    margin: 20px 0px;
			text-align: center;

		}
		img{
			width: 80%;
		}
	}
	.player{
		margin-bottom: 0%;
		width: 75%;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		top: -30px;
		video{
			-webkit-box-shadow:inset 0px 0px 0px 4px #414042;
			-moz-box-shadow:inset 0px 0px 0px 4px #414042;
			box-shadow:inset 0px 0px 0px 4px #414042;
		    border-radius: 5px; 	
			
		}
	}
}
.footer{
	    padding-bottom: 65px;

	border-left: none;
	background-image: url('../img/bg-footer.png');
	padding-top: 5%;
	.content-footer{
		margin-bottom: 1%;
		h2{
			font-family: Roboto;
			font-weight: 900;
			margin-top: 0px;
			font-size: 55px;
			text-transform:uppercase;
			color:#fff;
		}
		p{

			font-family: Roboto;
			font-weight: 500;
			margin: 0;
			font-size: 45px;
			color:#fff;
		}
		.sony01{

		}
		.texto{
			margin: 15px 0;
		}
		.sony02{
			img{
			top: 0 !important;
				
			}
		}
	}
	.copyright{
		p{
			margin-top: 14px;
			font-family: Roboto;
			font-weight: 500;
			color: #fff;
			font-size: 12px;
			vertical-align: bottom;
			margin-bottom: 2px;
		    padding-top: 10px;
		}
		
	}
}
}
@media only screen and (min-width: 748px) and (max-width: 959px) {
.only-mobile{
	display: block;
}
.only-desktop{
	display: none;
}
.container{
	padding-left: 5%; 
	padding-right: 5%;
}
	.padding-moobile{
		padding-left: 0;
	}
#header{
	.slider{
		padding-top: 20px;
		img{
			width: 100%;
		}
	}


	.titulo{
		h1{
			font-size: 30px;
			margin-top: 40px;
			padding-left: 35px;
			margin-bottom: 16px;
			span{
				color: #FF2C79;
				font-size: 200%;
				font-family: 'Open Sans', sans-serif;;
				font-weight: 900;
				position: absolute;
				bottom: 22px;
				left: 0;
			}		
		}

	}
	.texto{
		margin-bottom: 40px;
		h2{
			font-size: 18px;
		}
		p{
			font-family: Roboto;
			font-size: 16px;
		}
	}
}
#agenda{
	background-image: none;
	padding-bottom: 0;
	padding-top: 0;

	.titulo{
		background-image: url("../img/stroke-bg.png");
		background-repeat: no-repeat;
		background-size: contain;
		margin-bottom: 20px;
		margin-top: 20px;
		background-position-x: 0px;
		h1{
		    color: #fff;
		    font-size: 30px;
		    margin: 18px 10px;
	        padding-left: 176px;

		}
	}

	.agenda-dia{
		margin-bottom: 20px;
		.subtitulo{
			h2{
				font-size: 18px;
				text-transform: uppercase;
				margin-bottom: 15px;
				padding-left: 8px;
			}
		}
		.hora{
			text-align: right;
			font-size: 12px;
			margin-bottom: 10px;
		}
		.desc{
			font-size: 12px;
			margin-bottom: 5px;
		}
	}

}

#infos{
	.titulo{
		h1{
			text-align: left;
			font-family: 'Open Sans', sans-serif;;
			font-size: 30px;
			margin-top: 20px;
			padding-left: 25px;
			margin-bottom: 20px;
			span{
				color: #FF2C79;
				font-size: 200%;
				font-family: 'Open Sans', sans-serif;;
				font-weight: 900;
				position: relative;
				bottom: 9px;
				left: -16px;
			}		
		}
	}
	.bag{
		margin-bottom: 2%;
		img{
			padding-top: 15px;
		}
		h2{
			text-align: left;
			font-family: Roboto;
			text-transform: uppercase;
			font-size: 18px;
		}
		p{
			font-family: Roboto;
			font-size: 14px;
			bold{
				font-weight: 900;
			}
		}
	}
	.passagem{
		margin-top: -25px;
		margin-bottom: 0px;
		h1{
			text-align: left;
			font-weight: 500;
			padding-top: 10px;
			margin-bottom: 10px;
			font-family: Roboto;
			text-transform: uppercase;
			font-size: 18px;
			margin: 0;
			span {
			    margin-left: 15px;
				font-size: 18px;
			}
		}
		p{
			font-family: Roboto;
			font-size: 14px;
			bold{
				font-weight: 900;
			}
		}
		img{
			margin-bottom: 10px;
		}
	}
	.voo{
		margin-bottom: 20px;
		img{
			padding-top: 30px;
			margin-bottom: 10px;
		}
		h1{
			text-align: left;
			font-family: Roboto;
			text-transform: uppercase;
			font-size: 18px;
		}
		h2{
			text-align: left;
			font-family: Roboto;
			text-transform: uppercase;
			font-size: 18px;
		}
		p{
			font-family: Roboto;
			font-size: 14px;
			bold{
				font-weight: 900;
			}
		}
	}
	.hotel{
		margin-bottom: 20px;
		.hilton{
			position: relative;
			width: 35%;
			bottom: 60px;
		}
		img{

		}
		h2{
			text-align: left;
			font-family: Roboto;
			text-transform: uppercase;
			font-size: 18px;
		}
		p{
			font-family: Roboto;
			font-size: 14px;
			bold{
				font-weight: 900;
			}
		}
	}

}

#video{
	background-image: url('../img/video-bg.png');
	.titulo{
		margin-top: 4%;
		background-repeat: no-repeat;
   		background-size: contain;
   		margin-bottom: 20px;
		h1{
		    color: #fff;
		    font-size: 54px;
		    margin: 20px 0px;
			text-align: center;

		}
		img{
			width: 80%;
		}
	}
	.player{
		margin-bottom: 0%;
		width: 75%;
		position: relative;
		left: 47%;
		transform: translateX(-50%);
		top: -30px;
		video{
			-webkit-box-shadow:inset 0px 0px 0px 4px #414042;
			-moz-box-shadow:inset 0px 0px 0px 4px #414042;
			box-shadow:inset 0px 0px 0px 4px #414042;
		    border-radius: 5px; 	
			
		}
	}
}
.footer{
	border-left: none;
	background-image: url('../img/bg-footer.png');
	padding-top: 2%;
	.content-footer{
		margin-bottom: 1%;
		h2{
			font-family: Roboto;
			font-weight: 900;
			margin-top: 0px;
			font-size: 16px;
			text-transform:uppercase;
			color:#fff;
		}
		p{

			font-family: Roboto;
			font-weight: 500;
			margin: 0;
			font-size: 14px;
			color:#fff;
		}
		.sony01{

		}
		.texto{
			margin: 15px 0;
		}
		.sony02{
			img{
			top: 0 !important;
				
			}
		}
	}
	.copyright{
		p{
			margin-top: 20px;
			font-family: Roboto;
			font-weight: 500;
			color: #fff;
			font-size: 12px;
			vertical-align: bottom;
			margin-bottom: 2px;
		}
		
	}
}

}
@media only screen and (max-width: 767px) {
.only-mobile{
	display: block;
}
.only-desktop{
	display: none;
}
.container{
	padding-left: 5%; 
	padding-right: 5%;
}
	.padding-moobile{
		padding-left: 0;
	}
#header{
	.slider{
		padding-top: 20px;
		img{
			width: 100%;
		}
	}


	.titulo{
		h1{
			font-size: 30px;
			margin-top: 40px;
			padding-left: 35px;
			margin-bottom: 16px;
			span{
				color: #FF2C79;
				font-size: 200%;
				font-family: 'Open Sans', sans-serif;;
				font-weight: 900;
				position: absolute;
				bottom: 22px;
				left: 0;
			}		
		}

	}
	.texto{
		margin-bottom: 40px;
		h2{
			font-size: 18px;
		}
		p{
			font-family: Roboto;
			font-size: 16px;
		}
	}
}
#agenda{
	background-image: none;
	padding-bottom: 0;
	padding-top: 0;

	.titulo{
		background-image: url("../img/stroke-bg.png");
		background-repeat: no-repeat;
		background-size: contain;
		margin-bottom: 20px;
		margin-top: 20px;
		background-position-x: 0px;
		h1{
		    color: #fff;
		    font-size: 30px;
		    margin: 18px 10px;
	        padding-left: 176px;

		}
	}
	.padding-moobile{
		padding-left: 0;
	}
	.agenda-dia{
		margin-bottom: 20px;
		.subtitulo{
			h2{
				font-size: 18px;
				text-transform: uppercase;
				margin-bottom: 15px;
				padding-left: 8px;
			}
		}
		.hora{
			text-align: right;
			font-size: 12px;
			margin-bottom: 10px;
		}
		.desc{
			font-size: 12px;
			margin-bottom: 5px;
		}
	}

}

#infos{
	.titulo{
		h1{
			text-align: left;
			font-family: 'Open Sans', sans-serif;;
			font-size: 30px;
			margin-top: 20px;
			padding-left: 25px;
			margin-bottom: 20px;
			span{
				color: #FF2C79;
				font-size: 200%;
				font-family: 'Open Sans', sans-serif;;
				font-weight: 900;
				position: relative;
				bottom: 9px;
				left: -16px;
			}		
		}
	}
	.bag{
		margin-bottom: 2%;
		img{
			padding-top: 15px;
		}
		h2{
			text-align: left;
			font-family: Roboto;
			text-transform: uppercase;
			font-size: 18px;
		}
		p{
			font-family: Roboto;
			font-size: 14px;
			bold{
				font-weight: 900;
			}
		}
	}
	.passagem{
		margin-top: -25px;
		margin-bottom: 0px;
		h1{
			text-align: left;
			font-weight: 500;
			padding-top: 10px;
			margin-bottom: 10px;
			font-family: Roboto;
			text-transform: uppercase;
			font-size: 18px;
			margin: 0;
			span {
			    margin-left: 15px;
				font-size: 18px;
			}
		}
		p{
			font-family: Roboto;
			font-size: 14px;
			bold{
				font-weight: 900;
			}
		}
		img{
			margin-bottom: 10px;
		}
	}
	.voo{
		margin-bottom: 20px;
		img{
			padding-top: 30px;
			margin-bottom: 10px;
		}
		h1{
			text-align: left;
			font-family: Roboto;
			text-transform: uppercase;
			font-size: 18px;
		}
		h2{
			text-align: left;
			font-family: Roboto;
			text-transform: uppercase;
			font-size: 18px;
		}
		p{
			font-family: Roboto;
			font-size: 14px;
			bold{
				font-weight: 900;
			}
		}
	}
	.hotel{
		margin-bottom: 20px;
		.hilton{
			position: relative;
			width: 35%;
			bottom: 60px;
		}
		img{

		}
		h2{
			text-align: left;
			font-family: Roboto;
			text-transform: uppercase;
			font-size: 18px;
		}
		p{
			font-family: Roboto;
			font-size: 14px;
			bold{
				font-weight: 900;
			}
		}
	}

}

#video{
	background-image: url('../img/video-bg.png');
	.titulo{
		margin-top: 4%;
		background-repeat: no-repeat;
   		background-size: contain;
   		margin-bottom: 20px;
		h1{
		    color: #fff;
		    font-size: 54px;
		    margin: 20px 0px;
			text-align: center;

		}
		img{
			width: 80%;
		}
	}
	.player{
		margin-bottom: 0%;
		width: 75%;
		position: relative;
		left: 47%;
		transform: translateX(-50%);
		top: -30px;
		video{
			-webkit-box-shadow:inset 0px 0px 0px 4px #414042;
			-moz-box-shadow:inset 0px 0px 0px 4px #414042;
			box-shadow:inset 0px 0px 0px 4px #414042;
		    border-radius: 5px; 	
			
		}
	}
}
.footer{
	border-left: none;
	background-image: url('../img/bg-footer.png');
	padding-top: 2%;
	.content-footer{
		margin-bottom: 1%;
		h2{
			font-family: Roboto;
			font-weight: 900;
			margin-top: 0px;
			font-size: 16px;
			text-transform:uppercase;
			color:#fff;
		}
		p{

			font-family: Roboto;
			font-weight: 500;
			margin: 0;
			font-size: 14px;
			color:#fff;
		}
		.sony01{

		}
		.texto{
			margin: 15px 0;
		}
		.sony02{
			img{
			top: 0 !important;
				
			}
		}
	}
	.copyright{
		p{
			margin-top: 20px;
			font-family: Roboto;
			font-weight: 500;
			color: #fff;
			font-size: 12px;
			vertical-align: bottom;
			margin-bottom: 2px;
		}
		
	}
}

}
@media only screen and (min-width: 480px) and (max-width: 767px) {
.only-mobile{
	display: block;
}
.only-desktop{
	display: none;
}
.container{
	padding-left: 5%; 
	padding-right: 5%;
}
	.padding-moobile{
		padding-left: 0;
	}
#header{
	.slider{
		padding-top: 20px;
		img{
			width: 100%;
		}
	}


	.titulo{
		h1{
			font-size: 30px;
			margin-top: 40px;
			padding-left: 35px;
			margin-bottom: 16px;
			span{
				color: #FF2C79;
				font-size: 200%;
				font-family: 'Open Sans', sans-serif;;
				font-weight: 900;
				position: absolute;
				bottom: 22px;
				left: 0;
			}		
		}

	}
	.texto{
		margin-bottom: 40px;
		h2{
			font-size: 18px;
		}
		p{
			font-family: Roboto;
			font-size: 16px;
		}
	}
}
#agenda{
	background-image: none;
	padding-bottom: 0;
	padding-top: 0;

	.titulo{
		background-image: url("../img/stroke-bg.png");
		background-repeat: no-repeat;
		background-size: contain;
		margin-bottom: 20px;
		margin-top: 20px;
		background-position-x: 0px;
		h1{
		    color: #fff;
		    font-size: 30px;
		    margin: 18px 10px;
	        padding-left: 176px;

		}
	}
	.agenda-dia{
		margin-bottom: 20px;
		.subtitulo{
			h2{
				font-size: 18px;
				text-transform: uppercase;
				margin-bottom: 15px;
				padding-left: 8px;
			}
		}
		.hora{
			text-align: right;
			font-size: 12px;
			margin-bottom: 10px;
		}
		.desc{
			font-size: 12px;
			margin-bottom: 5px;
		}
	}

}

#infos{
	.titulo{
		h1{
			text-align: left;
			font-family: 'Open Sans', sans-serif;;
			font-size: 30px;
			margin-top: 20px;
			padding-left: 25px;
			margin-bottom: 20px;
			span{
				color: #FF2C79;
				font-size: 200%;
				font-family: 'Open Sans', sans-serif;;
				font-weight: 900;
				position: relative;
				bottom: 9px;
				left: -16px;
			}		
		}
	}
	.bag{
		margin-bottom: 2%;
		img{
			padding-top: 15px;
		}
		h2{
			text-align: left;
			font-family: Roboto;
			text-transform: uppercase;
			font-size: 18px;
		}
		p{
			font-family: Roboto;
			font-size: 14px;
			bold{
				font-weight: 900;
			}
		}
	}
	.passagem{
		margin-top: -25px;
		margin-bottom: 0px;
		h1{
			text-align: left;
			font-weight: 500;
			padding-top: 10px;
			margin-bottom: 10px;
			font-family: Roboto;
			text-transform: uppercase;
			font-size: 18px;
			margin: 0;
			span {
			    margin-left: 15px;
				font-size: 18px;
			}
		}
		p{
			font-family: Roboto;
			font-size: 14px;
			bold{
				font-weight: 900;
			}
		}
		img{
			margin-bottom: 10px;
		}
	}
	.voo{
		margin-bottom: 20px;
		img{
			padding-top: 30px;
			margin-bottom: 10px;
		}
		h1{
			text-align: left;
			font-family: Roboto;
			text-transform: uppercase;
			font-size: 18px;
		}
		h2{
			text-align: left;
			font-family: Roboto;
			text-transform: uppercase;
			font-size: 18px;
		}
		p{
			font-family: Roboto;
			font-size: 14px;
			bold{
				font-weight: 900;
			}
		}
	}
	.hotel{
		margin-bottom: 20px;
		.hilton{
			position: relative;
			width: 35%;
			bottom: 60px;
		}
		img{

		}
		h2{
			text-align: left;
			font-family: Roboto;
			text-transform: uppercase;
			font-size: 18px;
		}
		p{
			font-family: Roboto;
			font-size: 14px;
			bold{
				font-weight: 900;
			}
		}
	}

}

#video{
	background-image: url('../img/video-bg.png');
	.titulo{
		margin-top: 4%;
		background-repeat: no-repeat;
   		background-size: contain;
   		margin-bottom: 20px;
		h1{
		    color: #fff;
		    font-size: 54px;
		    margin: 20px 0px;
			text-align: center;

		}
		img{
			width: 80%;
		}
	}
	.player{
		margin-bottom: 0%;
		width: 75%;
		position: relative;
		left: 47%;
		transform: translateX(-50%);
		top: -30px;
		video{
			-webkit-box-shadow:inset 0px 0px 0px 4px #414042;
			-moz-box-shadow:inset 0px 0px 0px 4px #414042;
			box-shadow:inset 0px 0px 0px 4px #414042;
		    border-radius: 5px; 	
			
		}
	}
}
.footer{
	border-left: none;
	background-image: url('../img/bg-footer.png');
	padding-top: 2%;
	.content-footer{
		margin-bottom: 1%;
		h2{
			font-family: Roboto;
			font-weight: 900;
			margin-top: 0px;
			font-size: 16px;
			text-transform:uppercase;
			color:#fff;
		}
		p{

			font-family: Roboto;
			font-weight: 500;
			margin: 0;
			font-size: 14px;
			color:#fff;
		}
		.sony01{

		}
		.texto{
			margin: 15px 0;
		}
		.sony02{
			img{
			top: 0 !important;
				
			}
		}
	}
	.copyright{
		p{
			margin-top: 20px;
			font-family: Roboto;
			font-weight: 500;
			color: #fff;
			font-size: 12px;
			vertical-align: bottom;
			margin-bottom: 2px;
		}
		
	}
}

}
@media only screen and (max-width: 479px) {
.only-mobile{
	display: block;
}
.only-desktop{
	display: none;
}
.container{
	padding-left: 5%; 
	padding-right: 5%;
}
	.padding-moobile{
		padding-left: 0;
	}
	#header{
	.slider{
		padding-top: 20px;
		img{
			width: 100%;
		}
	}


	.titulo{
		h1{
			font-size: 30px;
			margin-top: 40px;
			padding-left: 35px;
			margin-bottom: 16px;
			span{
				color: #FF2C79;
				font-size: 200%;
				font-family: 'Open Sans', sans-serif;;
				font-weight: 900;
				position: absolute;
				bottom: 22px;
				left: 0;
			}		
		}

	}
	.texto{
		margin-bottom: 40px;
		h2{
			font-size: 18px;
		}
		p{
			font-family: Roboto;
			font-size: 16px;
		}
	}
}
#agenda{
	background-image: none;
	padding-bottom: 0;
	padding-top: 0;

	.titulo{
		background-image: url("../img/stroke-bg.png");
		background-repeat: no-repeat;
		background-size: contain;
		margin-bottom: 20px;
		margin-top: 20px;
		background-position-x: 0px;
		h1{
		    color: #fff;
		    font-size: 30px;
		    margin: 18px 10px;
	        padding-left: 176px;

		}
	}
.agenda-dia{
		margin-bottom: 20px;
		.subtitulo{
			h2{
				font-size: 18px;
				text-transform: uppercase;
				margin-bottom: 15px;
				padding-left: 8px;
			}
		}
		.hora{
			text-align: right;
			font-size: 12px;
			margin-bottom: 10px;
		}
		.desc{
			font-size: 12px;
			margin-bottom: 5px;
		}
	}

}

#infos{
	.titulo{
		h1{
			text-align: left;
			font-family: 'Open Sans', sans-serif;;
			font-size: 30px;
			margin-top: 20px;
			padding-left: 25px;
			margin-bottom: 20px;
			span{
				color: #FF2C79;
				font-size: 200%;
				font-family: 'Open Sans', sans-serif;;
				font-weight: 900;
				position: relative;
				bottom: 9px;
				left: -16px;
			}		
		}
	}
	.bag{
		margin-bottom: 2%;
		img{
			padding-top: 15px;
		}
		h2{
			text-align: left;
			font-family: Roboto;
			text-transform: uppercase;
			font-size: 18px;
		}
		p{
			font-family: Roboto;
			font-size: 14px;
			bold{
				font-weight: 900;
			}
		}
	}
	.passagem{
		margin-top: -25px;
		margin-bottom: 0px;
		h1{
			text-align: left;
			font-weight: 500;
			padding-top: 10px;
			margin-bottom: 10px;
			font-family: Roboto;
			text-transform: uppercase;
			font-size: 18px;
			margin: 0;
			span {
			    margin-left: 15px;
				font-size: 18px;
			}
		}
		p{
			font-family: Roboto;
			font-size: 14px;
			bold{
				font-weight: 900;
			}
		}
		img{
			margin-bottom: 10px;
		}
	}
	.voo{
		margin-bottom: 20px;
		img{
			padding-top: 30px;
			margin-bottom: 10px;
		}
		h1{
			text-align: left;
			font-family: Roboto;
			text-transform: uppercase;
			font-size: 18px;
		}
		h2{
			text-align: left;
			font-family: Roboto;
			text-transform: uppercase;
			font-size: 18px;
		}
		p{
			font-family: Roboto;
			font-size: 14px;
			bold{
				font-weight: 900;
			}
		}
	}
	.hotel{
		margin-bottom: 20px;
		.hilton{
			position: relative;
			width: 35%;
			bottom: 60px;
		}
		img{

		}
		h2{
			text-align: left;
			font-family: Roboto;
			text-transform: uppercase;
			font-size: 18px;
		}
		p{
			font-family: Roboto;
			font-size: 14px;
			bold{
				font-weight: 900;
			}
		}
	}

}

#video{
	background-image: url('../img/video-bg.png');
	.titulo{
		margin-top: 4%;
		background-repeat: no-repeat;
   		background-size: contain;
   		margin-bottom: 20px;
		h1{
		    color: #fff;
		    font-size: 54px;
		    margin: 20px 0px;
			text-align: center;

		}
		img{
			width: 80%;
		}
	}
	.player{
		margin-bottom: 0%;
		width: 75%;
		position: relative;
		left: 47%;
		transform: translateX(-50%);
		top: -30px;
		video{
			-webkit-box-shadow:inset 0px 0px 0px 4px #414042;
			-moz-box-shadow:inset 0px 0px 0px 4px #414042;
			box-shadow:inset 0px 0px 0px 4px #414042;
		    border-radius: 5px; 	
			
		}
	}
}
.footer{
	border-left: none;
	background-image: url('../img/bg-footer.png');
	padding-top: 2%;
	.content-footer{
		margin-bottom: 1%;
		h2{
			font-family: Roboto;
			font-weight: 900;
			margin-top: 0px;
			font-size: 16px;
			text-transform:uppercase;
			color:#fff;
		}
		p{

			font-family: Roboto;
			font-weight: 500;
			margin: 0;
			font-size: 14px;
			color:#fff;
		}
		.sony01{

		}
		.texto{
			margin: 15px 0;
		}
		.sony02{
			img{
			top: 0 !important;
				
			}
		}
	}
	.copyright{
		p{
			margin-top: 20px;
			font-family: Roboto;
			font-weight: 500;
			color: #fff;
			font-size: 12px;
			vertical-align: bottom;
			margin-bottom: 2px;
		}
		
	}
}

}